

h1 {
	text-align: Center;
	margin-top: 20px;
	margin-bottom: 50px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

.chicken {
	float: right;
	height: 40px;
	width: 100px;
	border: 1px solid black;
	background: lightpink;
	padding-top: 5px;
	text-align: center;
}

.beef {
	float: right;
	height: 40px;
	width: 100px;
	border: 1px solid black;
	background: lightgreen;
	padding-top: 5px;
	text-align: center;
}

.sushi {
	float: right;
	height: 40px;
	width: 100px;
	border: 1px solid black;
	background: lightyellow;
	padding-top: 5px;
	text-align: center;
}

.row {
	width: 100%;
}

.section {
	padding: 50px 25px 25px 25px;
}


/**Large Devices**/

@media (min-width: 992px) {
	.col-lg-4
	{
	float: left;
	background-color: slategrey;
	border: 1px black;
	}
	.col-lg-4 {
		width: 33%;
		border: 1px black;
	}
}


/*Medium Devices*/

@media (min-width: 768px) and (max-width: 991px){	
	.col-md-6, .col-md-12 
	{
	float: left;
	background-color: slategrey;
	border: 1px black;
	}
	
	.col-md-6 {
		width:  50%;
		border: 1px black;
		
	}
	.col-md-12 {
		width:  100%;
			}
}

/**Small Devices**/

@media (max-width: 767px){
	.col-sm-12 
	{
	float: left;
	background-color: slategrey;
	border: 1px black;
	margin: 0px 30px 50px 0px;
	}

	.col-sm-12 {
		width:  100%;
		border: 1px black;
	}
}




